tr:nth-child(even) {
    background-color: #d9e6f1;
}

.board{
    margin-top:  5%;
    margin-left:  .5em;
    margin-right: .5em;
    padding-top: 1%;
    border: 8px solid rgb(213, 210, 210);
}

.dashlogo{
    margin-left: 3%;
    display: inline;
}

.dashlogo1{
    margin-left: 25%;
    display: inline;  
}
img{
    padding-top: 1em;
}
